Package: joplin
Version: 1.6.6
License: MIT
Section: office
Priority: optional
Architecture: amd64
Depends: libgtk-3-0, libnotify4, libnss3, libxtst6, xdg-utils, libatspi2.0-0, libdrm2, libgbm1, libxcb-dri3-0, kde-cli-tools | kde-runtime | trash-cli | libglib2.0-bin | gvfs-bin
Recommends: pulseaudio | libasound2
Suggests: gir1.2-gnomekeyring-1.0, libgnome-keyring0, lsb-release
Installed-Size: 469165
Maintainer: Kali Developers <devel@kali.org>
Uploaders: initinfosec <iniitnfosec@protonmail.org>
Homepage: https://github.com/laurent22/joplin#readme
Description: Joplin for Desktop
 Joplin for Desktop - a note-taking and to-do application, with notes in markdown. Developed by Laurent Cozic. This package is an unofficially supported port of the original application, maintained by initinfosec & the Kali devs, with approval from the author.
