Source: joplin
Section: utils
Priority: optional
Maintainer: Kali Developers <devel@kali.org>
Uploaders: initinfosec <initinfosec@protonmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/initinfosec/joplin-debian.git
#Vcs-Browser: https://salsa.debian.org/debian/joplin
#Vcs-Git: https://salsa.debian.org/debian/joplin.git

Package: joplin
Architecture: amd64
Depends: libgtk-3-0, libnotify4, libnss3, libxss1, libxtst6, xdg-utils, libatspi2.0-0, libuuid1, kde-cli-tools | kde-runtime | trash-cli | libglib2.0-bin | gvfs-bin, ${shlibs:Depends}, ${misc:Depends}
Recommends: pulseaudio | libasound2
Suggests: gir1.2-gnomekeyring-1.0, libgnome-keyring0, lsb-release
Description: Joplin for Desktop
 Joplin for desktop. Lowercase joplin is a metapackage pointing to the Joplin uppercase binary. This app was originally developed by Laurent Cozic. This debian install is an unofficial/unofficially supported port of the original application from source, maintained by initinfosec. This project was OK'd by the original author, but support for this port will be fielded by initinfosec.
